bazel_dep(name = "rules_bzlmodrio_jdk", version = "")
local_path_override(
    module_name = "rules_bzlmodrio_jdk",
    path = "..",
)

{{bazel_dependencies.rules_java.module_dep()}}
{{bazel_dependencies.rules_jvm_external.module_dep()}}

{{ mandatory_dependencies.rules_bzlmodrio_toolchain.module_dep() }}

{{mandatory_dependencies.rules_checkstyle.module_dep()}}
{{mandatory_dependencies.rules_pmd.module_dep()}}
{{mandatory_dependencies.rules_spotless.module_dep()}}
{{mandatory_dependencies.rules_wpiformat.module_dep()}}
{{ mandatory_dependencies.rules_wpi_styleguide.module_dep() }}

maven = use_extension("@rules_jvm_external//:extensions.bzl", "maven")
maven.install(
    artifacts = [
        "org.junit.jupiter:junit-jupiter-api:5.8.2",
        "org.junit.jupiter:junit-jupiter-params:5.8.2",
        "org.junit.jupiter:junit-jupiter-engine:5.8.2",
        "org.junit.platform:junit-platform-commons:1.6.1",
        "org.junit.platform:junit-platform-console:1.6.1",
        "org.junit.platform:junit-platform-engine:1.6.1",
        "org.junit.platform:junit-platform-launcher:1.6.1",
        "org.junit.platform:junit-platform-suite-api:1.6.1",
    ],
    repositories = [
        "https://repo1.maven.org/maven2",
    ],
)
use_repo(
    maven,
    "maven",
)
