load("@rules_java//toolchains:remote_java_repository.bzl", "remote_java_repository")


def __setup_jdk_dependencies(mctx):
    {%- for platform in group.platforms %}
    remote_java_repository(
        name = "roboriojdk_{{platform.repo_os}}",
        prefix = "roboriojdk",
        version = "{{group.jre_version}}",
        target_compatible_with = [
            "@platforms//os:{{platform.platforms_os}}",
        ],
        sha256 = "{{platform.get_sha256()}}",
        urls = ["{{platform.get_url()}}"],
        strip_prefix = "{{platform.strip_prefix}}",
    )
    {% endfor %}

def setup_legacy_setup_jdk_dependencies():
    __setup_jdk_dependencies(None)

    REMOTE_JDK_REPOS = ["roboriojdk_linux", "roboriojdk_mac", "roboriojdk_windows"]
    [native.register_toolchains("@" + name + "_toolchain_config_repo//:all") for name in REMOTE_JDK_REPOS]


deps = module_extension(
    __setup_jdk_dependencies,
)

